<h6>Dashboard</h6>
<h4>Welcome back {{name}}</h4>
<p>Here are your Daily Diaries</p>
{{#if story}}
<div class="cover">
{{#each story}}
<div class="story">
    <div class="Top">
<h5>{{title}}</h5>  
 <h5>{{status}}</h5>  
    </div>
  <p>{{truncate (stripTags body) 150}}</p>  
  <div class="bottom"><div class="btn red">Delete</div><a href="" class="btn">Edit</a>
  </div>
</div>
{{/each}}
</div>
{{else}}
<p>You have not created any story</p>

{{/if}}