<h6>Dashboard</h6>
<h4>Welcome back {{name}}</h4>
<p>Here are your Daily Diaries</p>
{{#if stories}}

{{#each stories}}
<div class="story">
    <div class="Top">
<span>Title : {{title}}</span>    <label>{{status}}</label>
    </div>
  <p>{{body}}</p>  
  <div class="bottom">
      {{createdAt}} <div class="btn btn-red"></div>
  </div>
</div>
{{/each}}
{{else}}
<p>You have not created any story</p>

{{/if}}